body { margin: 0; padding: 15px; }
h1 { font-family: "DejaVu Serif", serif; font-size: 32px; }
.artist { font-family: "DejaVu Serif", serif; font-style: italic; margin-top: 2em; }
.chord { display: inline-block; font-size: 14px; font-weight: bold; white-space: nowrap; }
.chorus { padding-left: 15px; }
.line { padding-top: 1em; width: 27em; }
.line .chord { position: relative; top: -1.1em; width: 0; }
.riff { font-family: monospace; }
.song { font-family: ubuntu, sans-serif; font-size: 16px; }
.line, .sentence, .string { display: block; }
@media print {
    @page { size: A4 landscape; }
    body { width: 100%; }
    h1 { font-size: 24px; }
    .song { -moz-column-count: 3; -webkit-column-count: 2; columns: 3; font-size: 14px; }
    .chord { font-size: 12px; }
}