<nav>
    <ul>
        <li>
            <a id="home-link" href="/" alt="Take me home!">
                <svg id="logo" width="40px" height="48px" viewBox="8 0 128 144" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <radialGradient cx="50%" cy="0%" fx="50%" fy="0%" r="121.265375%" id="radialGradient-1">
                            <stop stop-color="#CC2828" offset="0%"></stop>
                            <stop stop-color="#999999" offset="100%"></stop>
                        </radialGradient>
                        <polygon id="path-2" points="72 7 127 39.5 127 104.5 72 137 17 104.5 17 39.5"></polygon>
                        <linearGradient x1="0%" y1="74.6808766%" x2="100%" y2="74.6808767%" id="linearGradient-3">
                            <stop stop-color="#6BB38F" offset="0%"></stop>
                            <stop stop-color="#737373" offset="100%"></stop>
                        </linearGradient>
                        <polygon id="path-4" points="72 7 127 39.5 127 104.5 72 137 17 104.5 17 39.5"></polygon>
                        <mask id="mask-5" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="110" height="130" fill="white">
                            <use xlink:href="#path-4"></use>
                        </mask>
                        <radialGradient cx="50%" cy="96.4172801%" fx="50%" fy="96.4172801%" r="86.2242566%" id="radialGradient-6">
                            <stop stop-color="#236BB3" offset="0%"></stop>
                            <stop stop-color="#4C4C4C" offset="100%"></stop>
                        </radialGradient>
                        <polygon id="path-7" points="72 7 127 39.5 127 104.5 72 137 17 104.5 17 39.5"></polygon>
                        <mask id="mask-8" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="110" height="130" fill="white">
                            <use xlink:href="#path-7"></use>
                        </mask>
                    </defs>
                    <g id="red-hexagon" stroke="none" fill="none">
                        <use stroke="url(#radialGradient-1)" stroke-width="24" xlink:href="#path-2"></use>
                        <use stroke="#FFFFFF" stroke-width="3" xlink:href="#path-2"></use>
                    </g>
                    <use id="green-hexagon" stroke="url(#linearGradient-3)" mask="url(#mask-5)" stroke-width="32" fill="none" xlink:href="#path-4"></use>
                    <use id="blue-hexagon" stroke="url(#radialGradient-6)" mask="url(#mask-8)" stroke-width="16" fill="none" xlink:href="#path-7"></use>
                </svg>
                <span>neig.es</span>
            </a>
        </li>
        <li>
            <a href="/K7jvHziDzwX9">about</a>
        </li>
    </ul>
</nav>
