body {
    margin: 0;
}
header, footer, #home {
    background: url("/bits/pattern.svg") repeat scroll 0 0 #222;
    color: #fff;
    padding-bottom: 1px;
}
header a, footer a, #home a {
    color: #78B5F3;
}
header:after {
    width:100%;
    height: 5px;
    top: 0;
    position: absolute;
    left: 0;
    content: '';
    background: linear-gradient(to right, #3E4038 0, #6FBF93 33%, #277F7C 66%, #FFF 100%);
}
#header_anim {
    background-image: radial-gradient(circle farthest-side at center center , rgba(0, 0, 0, 0) 25%, rgba(6, 19, 18, 0.9) 100%);
    height: 345px;
    position: relative;
    top: 0;
}
h1 {
    color: #ddd;
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    font-weight: 400;
    margin: 0;
    padding: 32px 16px;
    text-align: center;
}
h2, h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    padding: 16px;
}
h2 {
    text-transform: uppercase;
}
p, ul {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 28em;
    margin: 16px;
}
li {
    margin-bottom: 8px;
}
strong {
    color: #ff512f;
    font-weight: bold;
}
pre {
    background: #171516;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #d7d7d7;
    font-family: 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 16px;
    margin: 16px;
    max-width: 56em;
    overflow-x: auto;
    padding: 8px;
    width: auto;
}
#home article {
    padding: 32px 0;
}
#menu {
    left: 0;
    list-style-type: none;
    margin: 5px 0 0;
    padding: 1px 0 0 16px;
    position: absolute;
    top: 0;
}
#menu li {
    display: block;
    margin: 0;
}
#menu a {
    border-bottom: 3px solid rgba(255,81,47,0);
    color: #ddd;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 10px;
    text-decoration: none;
}
#menu a:hover {
    border-bottom-color: rgba(120,181,243,1);
}
#linux_toolbox h1 {
    padding: 64px 0 32px 64px;
}
.definition strong {
    color: #fff;
}
.definition span {
    display: block;
}
@media(min-width:500px) {
    h1 { padding-top: 110px; }
}
@media(min-width:655px) {
    h1 { font-size: 110px; padding-top: 110px; }
}
@media(min-width:1024px) {
    h1 { font-size: 138px; }
    h2, h3 { font-size: 35px; }
    p, ul, pre { font-size: 20px; }
}
